@import 'tailwindcss';
@plugin "@iconify/tailwind4";

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 100;
	font-stretch: normal;
	src: url('/fonts/YekanBakh-Thin.woff2') format('woff2');
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	src: url('/fonts/YekanBakh-Light.woff2') format('woff2');
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	src: url('/fonts/YekanBakh-Regular.woff2') format('woff2');
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	src: url('/fonts/YekanBakh-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: bold;
	font-stretch: normal;
	src: url('/fonts/YekanBakh-Bold.woff2') format('woff2');
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 800;
	font-stretch: normal;
	src: url('/fonts/YekanBakh-ExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 900;
	font-stretch: normal;
	src: url('/fonts/YekanBakh-Black.woff2') format('woff2');
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 950;
	font-stretch: normal;
	src: url('/fonts/YekanBakh-ExtraBlack.woff2') format('woff2');
}

body {
	font-family: 'YekanBakh';
}

input,
button,
textarea,
select {
	@apply outline-none;
}

button,
[type='button'],
[role='button'] {
	cursor: pointer;
}

a,
button,
label,
[role='button'],
input {
	touch-action: manipulation;
}

button {
	@apply whitespace-nowrap;
}
